{% load static %}

<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>زنگ برنامه نویسی</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'registeration/index.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


    </head>


    <body>


        <div class="fixed_menu">

            <a class="fixed_menu_item" href="HOC.html">
                <i class="pencil alternate icon"></i>
                ثبت نام
            </a>

            <a class="fixed_menu_item" href="#">
                <i class="phone icon"></i>
                تماس با ما
            </a>

            <a>
                <img title="ما را در شبکه های مجازی دنبال کنید" src="{% static 'registeration/instagram-logo.png' %}" class="insta_logo">
            </a>

            <a>
                <img title="ما را در شبکه های مجازی دنبال کنید" src="{% static 'registeration/telegram_logo.png' %}" class="telegram_logo">
            </a>

            <img title="Hour of Code" src="{% static 'registeration/hour-of-code-logo1.png' %}" class="hoc_logo">
            <!-- <img title="انجمن ACM دانشگاه شیراز" src="acm_logo.jpg" class="acm_logo"> -->

        </div>

        <div class="ui basic modal">

            <div class="modal_header">
                ثبت نام
            </div>

            <div class="modal_content">
                بچه های عزیز ایشالا تا یکشنبه 27 بهمن ثبت نام شروع میشه
                ...
                <br>
                مرسی که همراهمون هستید :)
            </div>
            <div class="modal_bottom">
                <button class="close_modal">
                    بستن
                </button>
            </div>


        </div>


        <div class="ui middle aligned center grid main_header">
            <div class="column header_content">
                5 امین همایش زنگ برنامه نویسی
            </div>
        </div>

        <div class="main_content">

            <div class="slider">

                <!-- <h3>
                    آرشیو
                </h3> -->

                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <!-- <div class="numbertext">1 / 3</div> -->
                        <img src="{% static 'registeration/hoc1.jpg' %}">
                        <!-- <div class="text">Caption Text</div> -->
                    </div>

                    <div class="mySlides fade">
                        <!-- <div class="numbertext">2 / 3</div> -->
                        <img src="{% static 'registeration/hoc2.jpg' %}">
                        <!-- <div class="text">Caption Two</div> -->
                    </div>

                    <div class="mySlides fade">
                        <!-- <div class="numbertext">3 / 3</div> -->
                        <img src="{% static 'registeration/hoc3.jpg' %}">
                        <!-- <div class="text">Caption Three</div> -->
                    </div>

                    <div class="mySlides fade">
                        <!-- <div class="numbertext">2 / 3</div> -->
                        <img src="{% static 'registeration/hoc4.jpg' %}">
                        <!-- <div class="text">Caption Two</div> -->
                    </div>

                    <div class="mySlides fade">
                        <!-- <div class="numbertext">3 / 3</div> -->
                        <img src="{% static 'registeration/hoc5.jpg' %}">
                        <!-- <div class="text">Caption Three</div> -->
                    </div>

                    <div class="mySlides fade">
                        <!-- <div class="numbertext">3 / 3</div> -->
                        <img src="{% static 'registeration/hoc6.jpg' %}">
                        <!-- <div class="text">Caption Three</div> -->
                    </div>

                </div>
                <br>

                <div style="text-align:center">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>

            </div>

            <div class="ui piled segment introduce">

                <h3>
                    <i class="info icon"></i>
                    آشنایی
                </h3>

                <div class="introduce_content_header">
                    زنگ برنامه‌نویسی چیه؟
                </div>

                <div class="introduce_content">
                    همون‌طور که از اسمش معلومه، زنگ برنامه‌نویسی، مقدمه‌ای یه ساعته برای درس علوم کامپیوتر هست.
                    چیزی که زنگ برنامه‌نویسی روش تاکید داره، اهمیت علوم کامپیوتر توی
                    قرن ۲۱ هست و هم‌چنین می‌خواد این رو نشون بده که نه تنها برنامه‌نویسی چیزی نیست که ازش بترسی، بلکه یه
                    مهارتی هست که حتی به راحتی می‌تونه به شکل عادت (یا غریزه) دربیاد. امروزه، زنگ برنامه‌نویسی از یه
                    برنامه‌ی یه ساعته بزرگ‌تر شده و حتی در بعضی از رویدادهای جهانی، زمان برگزاری یه هفته هم طول کشیده.
                    خیلی از شرکت‌های بزرگ، مثل
                    مایکروسافت
                    <img src="{% static 'registeration/microsoft_logo.png' %}"style="width:20px;margin-left:10px;">
                    ،
                    اپل
                    <img src= "{% static 'registeration/apple_logo2.png' %}" style="width:20px;margin-left:10px;">
                    ،
                    آمازون
                    <img src= "{% static 'registeration/amazon_logo.png' %}" style="width:20px;margin-left:10px;">
                    و... هم در پشت صحنه‌‌ی این رویداد هستن.
                </div>

            </div>

            <div class="ui raised segment introduce">

                <h3>
                    <i class="info icon"></i>
                    آشنایی
                </h3>

                <div class="introduce_content_header">
                    زنگ برنامه‌نویسی چیه؟
                </div>

                <div class="introduce_content">
                    همون‌طور که از اسمش معلومه، زنگ برنامه‌نویسی، مقدمه‌ای یه ساعته برای درس علوم کامپیوتر هست.
                    چیزی که زنگ برنامه‌نویسی روش تاکید داره، اهمیت علوم کامپیوتر توی
                    قرن ۲۱ هست و هم‌چنین می‌خواد این رو نشون بده که نه تنها برنامه‌نویسی چیزی نیست که ازش بترسی، بلکه یه
                    مهارتی هست که حتی به راحتی می‌تونه به شکل عادت (یا غریزه) دربیاد. امروزه، زنگ برنامه‌نویسی از یه
                    برنامه‌ی یه ساعته بزرگ‌تر شده و حتی در بعضی از رویدادهای جهانی، زمان برگزاری یه هفته هم طول کشیده.
                    خیلی از شرکت‌های بزرگ، مثل
                    مایکروسافت
                    <img src="{% static 'registeration/microsoft_logo.png' %}"  style="width:20px;margin-left:10px;">
                    ،
                    اپل
                    <img src="{% static 'registeration/apple_logo2.png' %}" style="width:20px;margin-left:10px;">
                    ،
                    آمازون
                    <img src="{% static 'registeration/amazon_logo.png' %}" style="width:20px;margin-left:10px;">
                    و... هم در پشت صحنه‌‌ی این رویداد هستن.


                </div>

            </div>

            <div class="ui piled segment purpose">

                <h3>
                    <i class="check icon"></i>
                    هدف
                </h3>

                <div class="purpose_content_header">
                    چرا برنامه‌نویسی مهمه؟
                </div>

                <div class="purpose_content">
                    یادگرفتن برنامه‌نویسی به رشد مهارت‌های غریزی و طبیعی مثل خلاقیت، منطق، حل مسئله و
                    حتی تفکر نقادانه کمک به سزایی می‌کنه. و هم‌چنین با آشنایی هر چه سریع‌تر با برنامه‌نویسی، دانش‌آموزها
                    با چالش‌های قرن ۲۱ بیشتر آشنا می‌شن. همون‌طور که استفاده‌ از کامپیوتر توی جامعه به شدت رشد کرده و
                    جامعه از کامپیوتر اشباع شده، بهبود کیفیت زندگی در آینده به نوآوری و طراحی مهندس‌های کامپیوتر بستگی داره.

                </div>

            </div>

            <div class="ui raised segment purpose">

                <h3>
                    <i class="check icon"></i>
                    هدف
                </h3>

                <div class="purpose_content_header">
                    چرا برنامه‌نویسی مهمه؟
                </div>

                <div class="purpose_content">
                    یادگرفتن برنامه‌نویسی به رشد مهارت‌های غریزی و طبیعی مثل خلاقیت، منطق، حل مسئله و
                    حتی تفکر نقادانه کمک به سزایی می‌کنه. و هم‌چنین با آشنایی هر چه سریع‌تر با برنامه‌نویسی، دانش‌آموزها
                    با چالش‌های قرن ۲۱ بیشتر آشنا می‌شن. همون‌طور که استفاده‌ از کامپیوتر توی جامعه به شدت رشد کرده و
                    جامعه از کامپیوتر اشباع شده، بهبود کیفیت زندگی در آینده به نوآوری و طراحی مهندس‌های کامپیوتر بستگی داره.

                </div>

            </div>

        </div>


        <script src="{% static 'registeration/index.js' %}"></script>

    </body>
</html>
